:root{
    /*color theme*/
    --green-button-color: #266150;
    --link-color: #333;
    --link-menu-wallet-text:#fefefe;
    --banner-choloclate-color: #011B13;
    --brown-chocoloate-color: #011B13;
    --dark-mode-bkg-color: #011B13;
    --banner-lightmode-color: #E6F0EE;
    --banner-darkmode-color: #011B13;
    --white: #FFFFFF;
    --black: #131313;
    --grey: #EBE8E8;
    --navbar-darkmode-color: #011B13;
    --cards-darkmode-background: #011B13;
    

}