* a:hover{
	filter: brightness(90%);
}
.lightmode{
	color: var(--black);
	background: var(--grey);
	transition: 0.2s ease;
	position: relative;
}
.lightmode a{
	color: var(--text-black);
	text-decoration: none;
}

.lightmode i{
	color: var(--light-mode-links-color);
}

.lightmode a:hover{
	text-decoration: none;
	color: var(--black);
}

.lightmode .buttons button{
    border-radius: 18px;
    height: 50px;
	border: 2px solid var(--black);
}

.darkmode{
	color: var(--white);
	background: var( --dark-mode-bkg-color);
	transition: 0.2s ease;
	position: relative;
}
.darkmode a{
	color: var(--white);
	text-decoration: none;
}

.darkmode i{
	color: var(--white);
}
.darkmode a:hover{
	text-decoration: none;
	color: var(--white);
}

.darkmode .buttons button{
    border-radius: 18px;
    height: 50px;
	border: 2px solid var(--white);
}
.navbar-darkmode, .footer-darkmode{
  background: var(--navbar-darkmode-color);
  transition: 0.2s ease;
}
.navbar-lightmode{
  background: var(--white);
  transition: 0.2s ease;
}
.banner-bg-lightmode{
	background: var(--banner-lightmode-color);	
	transition: 0.2s ease;
	border: 1px solid #333;
}
.banner-bg-darkmode{
	background: var(--banner-darkmode-color);
	transition: 0.2s ease;
}

/* .banner-bg-darkmode .btn {
	border: 1px solid var(--white);
} */

.features-darkmode{
	background: var(--transparent);
	color: var(--white);
	
}

.features-lightmode{
	background: var(--transparent);
	color: var(--text-black);
}

.footer-lightmode{
	background: var(--grey);
	
}

.footer-darkmode {
	background-color: var( --dark-mode-bkg-color);
	color: var(--white);
}

.darkmode .footer__search input[type=email]:focus{
	color: var(--white)
}
.cards-darkmode{
	background: var(--cards-darkmode-background);
}
.cards-darkmode  input[type=email]:focus{
	color: white;
}
.cards-lightmode{
	background: var(--white);
}
.ever-growing-light, .opt-light{
	background: var(--banner-choloclate-color);
}
.ever-growing-dark, .opt-dark{
	background: var(--green-button-color);
}

/* Community */
.community-darkmode{
	background: var(--transparent);
	color: var(--white);
	
}

.community-lightmode{
	background: var(--transparent);
	color: var(--newsletter-lightmode-color);
}


