* a:hover{
	filter: brightness(90%);
}
.lightmode, .cards-lightmode{
	color: var(--black);
	background: var(--grey);
	transition: 0.2s ease;
}
.lightmode a{
	color: var(--black);
	text-decoration: none;
}
.lightmode a:hover{
	text-decoration: none;
	color: var(--black);
}
.darkmode{
	color: var(--white);
	background: var( --dark-mode-bkg-color);
	transition: 0.2s ease;
}
.darkmode a{
	color: var(--white);
	text-decoration: none;
}
.darkmode a:hover{
	text-decoration: none;
	color: var(--white);
}
.navbar-darkmode, .footer-darkmode{
  background: var(--navbar-darkmode-color);
  transition: 0.2s ease;
}
.navbar-lightmode{
  background: var(--white);
  transition: 0.2s ease;
}
.banner-bg-lightmode{
	background: var(--banner-lightmode-color);	
	transition: 0.2s ease;
}
.banner-bg-darkmode{
	background: var(--banner-darkmode-color);
	transition: 0.2s ease;	
}

.banner .smallBtn {
	background-color: var(--green-button-color);
	color: var(--white);
	
}

.banner .largeBtn {
	border: 1px solid var(--white);
	border-radius: 10px;
}
.banner .mediumBtn {
	border: 1px solid var(--white);
	border-radius: 10px;
}
.footer-lightmode{
	background: var(--grey);
	
}

.footer-darkmode {
	background-color: var( --dark-mode-bkg-color);
	color: var(--white);
}
.cards-darkmode{
	background: var(--cards-darkmode-background);
}
.cards-darkmode  input[type=email]:focus{
	color: white;
}
.cards-lightmode{
	background: var(--white);
}
.ever-growing-light, .opt-light{
	background: var(--banner-choloclate-color);
}
.ever-growing-dark, .opt-dark{
	background: var(--green-button-color);
}