.wrapper {
	width: 80%;
	margin: 0 auto;

}

.hero {
	width: 100%;
	margin: 70px auto;
	font-size: 36px;
	font-family: var(--roboto-font);
	font-style: normal;
	line-height: 42.19px;
	text-align: center;
	padding: 50px 0px;
	/* margin-bottom: 10px; */
}

.topHeading {
	overflow: hidden;
	margin-top: 20px;
	font-size: 38px;
	
}

/* .heroSubHeading { */
	/* width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	margin: 40px; */
/* } */


.subHeading {
	font-size: 18px;
	font-family: var(--roboto-font);
	font-style: normal;
	line-height: 21.09px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.buttons {
	/* max-width: 80%;
	margin: auto; */
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	/* height: -1px; */
	
}

.btn {
	display: block;
	border: 1px solid var(--white);
	border-radius: 25px;
	margin: 15px 0px;
	width: 150px;
	height: 45px;
}

.smallBtn {
	background-color: var(--green-button-color);
	border: none;
	outline: none;
}
.largeBtn {
	width: 200px;
}
   /* .eclipse {
	position: absolute;
	width: 884px;
	height: 784px;
	left: -284px;
	top: -334px;
	border: 30px solid rgba(221, 175, 148, 0.06);
     border-radius: 50%; 
	 } */
@media (min-width: 62em) {
	.topHeading{
		font-size: 64px;
		font-family: var(--roboto-font);
		font-style: normal;
		font-weight: 400;
		line-height: 75px;
		width: 100%;
		/* text-align: center; */
	}
	.subHeading {
		width: 65%;
		margin: 0 auto;
		font-size: 24px;
		overflow: hidden;
		line-height: 28px;
		margin-top: 35px;
	}
	.buttons {
		display: flex;
		flex-direction: row;
		margin: 38px auto;
		
	}

	.btn {
		margin: 0px 15px;
	}

}