/* small mobile */
@media all and  (min-width: 0px){
	.body{
		position: relative;
		overflow-y: hidden;
	}
	.body-wrapper{
		position: relative;
		overflow-y: hidden;
		width: 100%;
		z-index: 2;
	}
	.body-bg{
		position: absolute;
		z-index: -1;
		margin-left: 0%;
		width: 100%;
		margin-top: 20%;
	}	
	.body div h1{
		font: 1.5rem/28px var(--roboto-font);
		font-weight: 500;
		text-align: center;	
	}
	.body div p{
		font: 1.125rem/22px var(--roboto-font);
		text-align: center;
		margin: 2.625rem 0;
	}
	.cards-container{
		display: grid;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;	
	}
	.card-wrapper{
		width: 300px;
		margin: auto;
	}
	.cards{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem auto;
		border-radius: 1.3em;
		padding: 0.1rem;
		width: 200px;
		height: 230px;
	    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
	    -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
	    -moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
	}
	.cards:hover{
		box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
		transition: 0.2s ease-in;
		transform: scale(1.03, 1.03);
	}
	figcaption{
		font: 1rem/24px var(--roboto-font);
		font-weight: 500;
		margin-top: 1rem;
	}
	.ever-growing-dark, .ever-growing-light{
		height: 22px;
		z-index: -1;
		margin: auto;
		margin-top: -22px;
		width: 200px;
	}
}

@media all and  (min-width: 320px){

}

/* medium mobile */
@media all and  (min-width: 375px){
	
}

/* large mobile */
@media all and (min-width: 420px){

}

/* tablet */
@media all and (min-width: 768px){
	.body div h1{
		font: 2rem/35px var(--roboto-font);
		font-weight: 500;
		margin: 0 0 1.5rem 0;
	}
	.body div p{
		font: 1.2rem/25px var(--roboto-font);
		margin: 0 0 1.5rem 0;
	}
	.cards-container{
		grid-template-columns: repeat(2, 1fr);
	}
	.body-bg{
		position: absolute;
		z-index: -1;
		margin-left: 20%;
		margin-top: 10%;
		width: 80%;
	}
	figcaption{
		font: 1.2rem/26px var(--roboto-font);
		font-weight: 500;
	}
}

/* laptop */
@media all and (min-width: 1024px){
	.body div h1{
		font: 2.5rem/48px var(--roboto-font);
		font-weight: 500; 
		text-align: left;
	}
	.body div p{
		font: 1.35rem/28px var(--roboto-font);
		text-align: left;
	}
	.body-container{
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		justify-items: center;
	}
	.custom-card1{
		margin: -100px -50px 1rem auto;
	}
	.custom-card2{
		margin-top: -50px;
	}
	.body-bg{
		position: absolute;
		z-index: -1;
		margin-left: 40%;
		margin-top: 20%;
		width: 60%;
	}
	figcaption{
		font: 1.4rem/28px var(--roboto-font);
		font-weight: 500;
	}
	.cards-container{
		padding: 10rem 0;
	}
	.body-img-wrapper{
		margin: auto;
		padding: 5rem 5rem 3rem 0;
	}
	.ever-growing-dark, .ever-growing-light{
		height: 22px;
		z-index: -2;
		margin: -40px 0 20px 10px;
		width: 300px;
	}
}

/* bigger laptop/desktop */
@media all and (min-width: 1440px){
	.body-container{
		justify-items: center;
		grid-template-columns: 1fr 1.8fr
	}
	.body div h1{
		font: 3rem/56px var(--roboto-font);
		margin: 0 0 2rem 0;
		font-weight: 500;
	}
	.body div p{
		font: 1.5rem/28px var(--roboto-font);
		margin: 0 0 2rem 0;
	}
	.different{
		margin: -50px 0 0 0;
	}
	.custom-card1{
		margin: -100px -100px 1rem auto;
	}
	.custom-card2{
		margin-top: -60px;
		margin-right: -50px;
	}
	.body-img-wrapper{
		margin: auto;
		padding: 3rem 8rem 3rem 0;
	}
	.body-bg{
		position: absolute;
		z-index: -1;
		margin-left: 40%;
		margin-top: 0;
		width: 60%;
	}
	.ever-growing-dark, .ever-growing-light{
		margin: -46px 0 25px 10px;
		width: 360px;
	}
	
}

/* 4k */
@media all and  (min-width: 2550px){
	.body-bg{
		position: absolute;
		z-index: -1;
		margin-left: 62%;
		margin-top: 0;
		width: 38%;
	}

}