.introductory-wrapper {
	background-color: var(--green-button-color);
	margin: 80px 0px;
}

.body-container {
	color: var(--white);
	min-height: 300px;
	padding: 40px 0px;
}

@media (min-width: 42em) {
	.body-container {
		font-size: 18px;
		/* margin-top: 80px; */
		min-height: 200px;
	}

	.intro-content{
		text-align: center;
		width: 60%;

	}
}
@media (min-width: 42em) {
	.body-container {
		font-size: 18px;
		/* margin-top: 80px; */
		min-height: 200px;
	}

	.intro-content{
		text-align: center;
		width: 60%;

	}
}

@media (min-width: 62em) {
	.body-container {
		font-size: 18px;
		/* margin-top: 80px; */
		min-height: 200px;
	}

	.intro-content{
		text-align: center;
		width: 50%;

	}
}