.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--dark-mode-bkg-color);
    color: var(--white);
}

.line {
    border: 1px solid var(--white);
    margin: 0 auto;
    width: 80%;
    
}

.footer__main {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.footer__left {
    margin-top: 60px;
    width: 50%;
}

.footer__leftHeading {
    font: var(--roboto-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.36px;
}

.footer__leftSubHeading {
    font: var(--roboto-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34.36px;
}

.footer__right {
    margin-top: 60px;
    width: 50%;
}

.footer__rightHeading {
    font: var(--roboto-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer__rightSubHeading {
    font: var(--roboto-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.09px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.search {
    height: 40px;
    width: 70%;
    outline: none;
    border: none;

}

.footer__btn {
    background-color: var(--green-button-color);
    padding: 10px 25px;
    outline: none;
    border: none;
    color: var(--white);
}

.footer__bottom {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.footer__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    color: var(--white)!important;
}
.footer__listItem {
    display: inline-block !important;
}
.footer__list a {
    color: var(--white)!important;
   text-decoration: none;
   padding-left: 15px;
   font: var(--roboto-font);
   font-size: 14px;
}


