.wrapper {

    width: 80%;

    margin: 0 auto;

 

}



.footer {

    position: relative;

}

.footer__main {

    width: 80%;

    margin: 0rem auto;

    margin-top: 7.5rem;

}

/* .footer__line {

    border-bottom: 1px solid var(--white);

    padding: 10px;

    width: 80%;

    margin: auto;

} */

 

.footer::after {

    content: "";

    background-color: var(--white);

    width: 80%;

    height: 0.062rem;

    position: absolute;

    top: 6.25rem;

    left: 50%;

    right: 50%;

    transform: translate(-50%, -50%);

}

 

.footer__rightHeading{

    font-size: 1.25rem;

    font-weight: 500;

    line-height: 1.47rem;

    font-family: var(--roboto-font);

 

}

 

.footer__rightSubHeading {

    font-size: 1.13rem;

    font-family: var(--roboto-font);

    font-weight: 400;

    line-height: 1.32rem;

}

 

.footer__search {

    margin-top: 2.5rem;

}

 

input.searchBar {

    width: 50%;

    height: 2.5rem;

    outline: none;

    background: transparent;

    border: 0.062rem solid var(--white);

}

 

.footer__btn {

    background-color: var(--green-button-color);

    padding: 0.63rem 2.5rem;

    color: var(--white);

    outline: none;

    border: none;

    font-size: 1rem;

    font-family: var(--roboto-font);

    font-weight: 500;

    margin-bottom: 3.13rem;

}

 

.footer__leftHeading {

    font-family: var(--roboto-font);

    font-size: 1.13rem;

    font-weight: 400;

    line-height: 1.5rem;

}

 

.footer__leftSubHeading {

    font-size: 1.3rem;

    font-style: normal;

    font-family: var(--roboto-font);

    font-weight: 700;

    line-height: 1.5rem;

 

}

 

.footer__bottom {

    width: 80%;

    margin: 0 auto;

    color: var(--white)!important;

    align-items: center;

}

 

.footer__link {

    

    font-size: 1rem;

    font-family: (--roboto-font);

    font-style: normal;

    line-height: 1.43rem;

    margin-bottom: 0rem;

}

 

.footer__list {

    display: flex;

    margin: 1.3rem 0rem;

}

 

.footer__list a{

 

    margin-right: 2.2rem;

    font-style: 1.3rem;

    font-style: normal;

    font-weight: 400;

}

 

@media (min-width: 62em) {

    .footer__main {

        display: flex;

        justify-content: space-between;

    }

 

    .footer__left {

        order: 1;

    }

 

    .footer__right {

        order: 2;

    }

 

    .footer__bottom {

        display: flex;

        justify-content: space-between;

    }

 

    .footer__search {

        display: flex;

    }

 

    .searchBar {

        width: 70%;

        height: 2.8rem;

        background: transparent;

        border: 1px solid var(--white);

    }

 

    .footer__btn {

        padding: 0.63 1.56rem;

    }

}   




/* workdown */

 

/* small mobile */

@media all and  (min-width: 0rem){

    

    form.footer__search {

        display: flex;

        flex-direction: row;

    }

 

    input.searchBar{

        width: 11.6rem;

        padding: 0.49rem 0.1rem;

        font-size: 0.87rem;

    }

 

    button.footer__btn {

        width: 5.6rem;

        padding: 0.50rem 0.05rem;

        color: var(--white);

        font-size: 1.004rem;

    }

 

}

/* medium mobile */

@media all and  (min-width: 23.442rem){

    form.footer__search  {

        display: flex;

    }

 

    input.searchBar{

        width: 14.8rem;

        padding: 1.1rem 0.83rem;

        font-size: 1.075rem;

        font-family: var(--roboto-font);

    }

 

    button.footer__btn {

        width: 5.6rem;

        padding: 0.50rem 0.5rem;

        color: var(--white);

        font-size: 1.023rem;

    }

}

/* tablet */

@media all and (min-width: 48rem){

    form.footer__search  {

        display: flex;

    }

 

    input.searchBar{

        width: 16.5rem;

        padding: 1.1rem 0.63rem;

        font-size: 1.04rem;

    }

 

    button.footer__btn {

        width: 6.78rem;

        padding: 0.50rem 0.2rem;

        color: var(--white);

        font-size: 1.053rem;

    }

}

 

/* bigger laptop/desktop */

@media all and (min-width: 1440px){

    form.footer__search  {

        display: flex;

    }

 

    input.searchBar{

        width: 17.8rem;

        padding: 1.1rem 0.63rem;

        font-size: 1.06rem;

    }

 

    button.footer__btn {

        width: 6.87rem;

        padding: 0.50rem 0.2rem;

        color: var(--white);

        font-size: 1.053rem;

    }

}

 

/* 4k */

@media all and  (min-width: 2550px){

    

}


/* medium mobile */
@media all and  (min-width: 375px){
    form.footer__search {

        display: flex;

        flex-direction: row;

    }

 

    input.searchBar{

        width: 11.6rem;

        padding: 0.49rem 0.1rem;

        font-size: 0.87rem;

    }

 

    button.footer__btn {

        width: 5.6rem;

        padding: 0.50rem 0.05rem;

        color: var(--white);

        font-size: 1.004rem;

    }

 

}

    


/* large mobile */
@media all and (min-width: 420px){

    form.footer__search {

        display: flex;

        flex-direction: row;

    }

 

    input.searchBar{

        width: 11.6rem;

        padding: 0.49rem 0.1rem;

        font-size: 0.87rem;

    }

 

    button.footer__btn {

        width: 5.6rem;

        padding: 0.50rem 0.05rem;

        color: var(--white);

        font-size: 1.004rem;

    }

 

}

