.footer {
	position: relative;
}
.footer__main {
	width: 80%;
	margin: 0px auto;
	margin-top: 120px;
}
/* .footer__line {
	border-bottom: 1px solid var(--white);
	padding: 10px;
	width: 80%;
	margin: auto;
} */

.footer::after {
	content: "";
	background-color: var(--white);
	width: 80%;
	height: 1px;
	position: absolute;
	top: 100px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}

.footer__rightHeading{
	font-size: 20px;
	font-weight: 500;
	line-height: 23.44px;
	font-family: var(--roboto-font);

}

.footer__rightSubHeading {
	font-size: 18px;
	font-family: var(--roboto-font);
	font-weight: 400;
	line-height: 21.09px;
}

.footer__search {
	margin-top: 40px;
}

.search {
	width: 50%;
	height: 40px;
	outline: none;
	background: transparent;
	border: 1px solid var(--white);
}

.footer__btn {
	background-color: var(--green-button-color);
	padding: 10px 40px;
	color: var(--white);
	outline: none;
	border: none;
	font-size: 16px;
	font-family: var(--roboto-font);
	font-weight: 500;
	margin-bottom: 50px;
}

.footer__leftHeading {
	font-family: var(--roboto-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 25.77px;
}

.footer__leftSubHeading {
	font-size: 18px;
	font-style: normal;
	font-family: var(--roboto-font);
	font-weight: 700;
	line-height: 26.77px;

}

.footer__bottom {
	width: 80%;
	margin: 0 auto;
	color: var(--white)!important;
	align-items: center;
}

.footer__link {
	
	font-size: 16px;
	font-family: (--roboto-font);
	font-style: normal;
	line-height: 22.91px;
	margin-bottom: 0px;
}

.footer__list {
	display: flex;
	margin: 20px 0px;
}

.footer__list a{

	margin-right: 35px;
	font-style: 18px;
	font-style: normal;
	font-weight: 400;
}

@media (min-width: 62em) {
	.footer__main {
		display: flex;
		justify-content: space-between;
	}

	.footer__left {
		order: 1;
	}

	.footer__right {
		order: 2;
	}

	.footer__bottom {
		display: flex;
		justify-content: space-between;
	}

	.footer__search {
		display: flex;
	}

	.search {
		width: 70%;
		height: 45px;
		background: transparent;
		border: 1px solid var(--white);
	}

	.footer__btn {
		padding: 10px 25px;
	}
}
