.bi{
  cursor: pointer;
}


.moon-icon{
  color: var(--green-button-color);
  font-size: 1.4em;
  margin:0 0.6em

}
.sun-icon{
  color: var(--white);
  font-size: 1.4em;
  margin:0 0.6em
}

.header{
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.darkmode .header{
  background-color: var(--dark-mode-bkg-color);
}

.lightmode .header{
  background-color: var(--light-mode-bkg-color);
}


@media all and (min-width: 0px){
  .logo{
    width: 7rem;
  }
  .nav1 > ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 0 6rem;
    margin-top: -2rem;
    text-align: center;
  }
  .nav1 > ul li{
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .sidebar-dark:active{
    background-color: var(--dark-mode-bkg-color);
    border-left: 5px solid var(--light-mode-links-color);
  }

  .sidebar-light:active{
    background-color: var(--white);
    border-left: 5px solid var(--light-mode-links-color);
  }

  .nav1 > ul li a{
    font: 0.9rem/1.25rem var(--roboto-font);
    letter-spacing: 0.014em;
    font-weight: 600;
    margin-left: 7px;
  }
  .hamburger{
    border-radius: 60px;
    height: 3px;
    width:  30px;
    margin: 7px 0 7px 0;
  }
  .ln01{
    width: 15px;
    margin-left: auto;
  }
  .ln02{
    width: 22px;
    margin-left: auto;
  }
  .ln1{
    animation: cros 0.5s;
    transform: rotateZ(40deg);
    margin-bottom: 0;
    width: 25px;
    margin-left: auto;
  }
  .ln2{
    animation: cross 0.5s;
    transform: rotateZ(135deg); 
    margin-top: 0;
    width: 25px;
  }
  @keyframes cross{
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(135deg);
    }
  }
  @keyframes cros{
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(40deg);
    }
  }
  nav{
    width: 100%;
  }
  nav ul div{
    width: 100px;
    height: 2px;
    background-color: #E5E5E5;
  }
  .mobilenav{
    display: flex;
    padding: 1rem 0;
    width: 100%;
    margin: auto;
  }
  .togglenavbar{
    margin: auto 0
  }
  .nav,.ln3,.desktop-nav{
    display: none;
  }

  /* Mobile side navbar */
  .hide-mobilenav{
    left: -1024px;
  }

  .hide-visibility{
    visibility: hidden;
  }


  .nav1{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 240px;
    transition: all 1s ease;
  }

   .navbar-button{
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 5px; 
    border: none; 
    background: var(--green-button-color);  
    display: flex;
    margin: 0 auto;
  }
  .navbar-button a{
    color: var(--white);
    font-weight: 500;
    align-items: center;
  }
  .navbar-button a:hover{
    color: var(--white);
  }
}
@media all and (min-width: 400px){
  .nav1 > ul{
    padding: 6rem 0 8rem;
  }
}
@media all and (min-width: 768px){
  nav>ul>li{
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px){
  .logo{
    width: 120px;
  }
  nav>ul>li{
    font: 1rem/1.2rem  var(--roboto-font);
    font-weight: 500;
    list-style: none;
    display: inline-flex;
    margin: 0 1rem;
  }
  .desktop-nav{
    width: 100%;
    margin: auto;
    display: flex;
  }
  .darkmodeButton a{
    color: #24292E;
    font: 1rem/1.2rem  var(--roboto-font);
    font-weight: bold;
  }
  .lightmodeButton a{
    color: #EEBA47;
    font: 1rem/1.2rem  var(--roboto-font);
    font-weight: bold;
  }
  .lightmodeButton:hover a{
    color: var(--black);
    font: 1rem/1.2rem  var(--roboto-font);
    font-weight: bold;
  }
  .navbar-button{
    padding: 0.625rem 1rem;
    outline: none;
    border-radius: 10px; 
    border: none; 
    background: var(--green-button-color);  
  }
  .navbar-button a{
    color: var(--white);
    font-weight: 500;
  }
  .mobilenav{
    display: none;
  }
}
@media all and (min-width: 1440px){
  .logo{
    width: 150px;
  }
  .mobilenav{
    display: none;
  }
  nav>ul>li{
   font: 1.25rem/1.438rem var(--roboto-font);
    font-weight: 500;
    list-style: none;
    display: inline-flex;
    margin: 0 1rem;
  }
  
}
