.optimized-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    place-items: center;
    width: 100vw;
    padding: 2em;
    margin: 1em 0;
    overflow: hidden;
  
 
}


h2{
        text-align: center;
    font: 2rem/2.5rem var(--roboto-font);
    font-weight: 500;
    margin:0 0 1.5rem 0;
}
h2.optimized-header{

    position: relative;
    z-index: 1;
    overflow: hidden;
  
}

h2.optimized-header-dark{

    position: relative;
    z-index: 1;
    overflow: hidden;
  
}

.optimized-header:before{
    border-top: 2em solid var( --banner-choloclate-color);
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;


  
}
.optimized-header-dark:before{
    border-top: 2em solid var( --green-button-color);
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;


  
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
    width: 60%;
    padding: 1em;    
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow-y: hidden;
}

.card-optimized{
    border-radius: 1.3em;
    box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
    padding: 1em;
    width: 14em;
    height: 14em;
    text-align: center;
    margin: 3em;
    font-weight: 700;
    background: var(--white);
    z-index: 2;

}

.card-optimized-dark{
    border-radius: 1.3em;
    box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
    padding: 1em;
    width: 14em;
    height: 14em;
    text-align: center;
    margin: 3em;
    font-weight: 700;
    background: var(--navbar-darkmode-color);
    z-index: 2;

}
.card-icon{
    display: flex;
    font-size: 1.5em;
    background: #eee;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin:  0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
  
}

.card-icon-dark{
    display: flex;
    font-size: 1.5em;
    background: #eee;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin:  0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
  
}

.bkg_overlay{
    width: 75%;
    height: 52em;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    background: var(--navbar-darkmode-color);
    left: -10%;
    bottom: -25%;
    opacity: 0.4;


}