.statictis-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    width: 100vw;
    padding: 2em;
    margin: 1em 0;
}

.stat-header{
    width: 40%;
    text-align: center;
    margin: 1em;
}
.stat-para{
    width: 40%;
    text-align: center;
    margin: 1em;
}

.stat-count{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 1em;
}
.stat-count span{
    font-size: 1.5rem;
}

.stat-count p{
    text-transform: uppercase;
    font-size: 0.6em !important;
}
.stat-1{
    display: block;
    text-align: center;
   
}
.stat-1 span{
     font-weight: 700;
}
.stat-1 p {
    font-size: 0.7em;
}

.stat-2{
    display: block;
    text-align: center;
   
}
.stat-2 span{
     font-weight: 700;
}
.stat-2 p {
    font-size: 0.7em;
}

.stat-3{
    display: block;
    text-align: center;
   
}
.stat-3 span{
     font-weight: 700;
}
.stat-3 p {
    font-size: 0.7em;
}

.stat-4{
    display: block;
    text-align: center;
   
}
.stat-4 span{
     font-weight: 700;
}
.stat-4 p {
    font-size: 0.7em;
}



