.stat {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px; */
    width: 60%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

    box-shadow: .75em .75em 4em rgba(214, 207, 207, 0.8);
    text-transform: uppercase;

}

.counter {
    flex-basis: 50%;
    margin-bottom: 20px;
   
}

.count{
    font-family: var(--roboto);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}

.countName {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    
}

@media (min-width: 62em) {
    .stat {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

