@import "../../config/_config.css";

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    width: 100vw;
   place-items: center;
}
.oreoswap-logo{
    width: 20%;
}
ul{
    display: flex;
}
.menu-item{
    padding: 1rem;
    list-style: none;
    font-weight: 700;

    
}

.menu-item a{
    text-decoration: none;
    color: var(--link-color);
    
}
 .menu-item:last-child a{
    color: var(--link-menu-wallet-text);
    
} 


.menu-item:last-child{
  background: var(--green-button-color);
  width: 10rem;
  text-align: center;

  border-radius: 0.5rem;

    
}